speechrecognition==3.14.1
pyaudio==0.2.14
gtts==2.5.4
pyttsx3==2.98
transformers==4.49.0
sty==1.0.6
pygame==2.6.1
keyboard==0.13.5
torch==2.6.0
requests==2.32.3
idna==3.10
urllib3==2.3.0
charset-normalizer==3.4.1
certifi==2025.1.31
huggingface-hub==0.29.1
filelock==3.17.0
safetensors==0.5.3
tokenizers==0.21.0
tqdm==4.67.1
packaging==24.2
pyyaml==6.0.2